.enlarge {
  animation: scale1 6s ease-out infinite;
  animation-delay: 3s;
}

.service {
  position: absolute;

  transform: scale(0);
  animation: service1 42s ease-out infinite;
}

@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes service1 {
  0% {
    transform: scale(0);
  }

  3.57% {
    transform: scale(0);
  }
  7.14% {
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  10.71% {
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  14.28% {
    transform: scale(0);
  }
  /* 28% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  } */
  100% {
    transform: scale(0);
  }
}
